body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(255, 0, 0, 0.7); /* Reddish shadow */
}

h2 {
    font-size: 3em;
    margin-bottom: 20px;
    
}

.header-image {
    width: 100%;
    max-width: 800px;
    max-height: 700px; /* Add a maximum height to resize the image */
    margin: 20px 0; /* Add margin to separate from the title and the timeline image */
}
.title-image {
    width: 100%;
    max-width: 200px;
    max-height: 200px; /* Add a maximum height to resize the image */
    margin: 20px 0; /* Add margin to separate from the title and the timeline image */
}

.timeline-image {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.timeline-event {
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
    width: 100%;
}

.timeline-event.left .content {
    margin-right: auto;
    text-align: left;
}

.timeline-event.right .content {
    margin-left: auto;
    text-align: left;
}

.timeline-event .content {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    width: 45%;
}

.timeline-event .date {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.timeline-event img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.timeline-event .soundcloud {
    margin-top: 10px;
}


}
#more 
{
    display: none;
}
.left-branch {
    left: 50%;
    height: 150px;
    border-radius: 0 8px 8px 0;
}

.right-branch {
    right: 50%;
    height: 150px;
    border-radius: 8px 0 0 8px;
}

@media (min-width: 768px) {
    .timeline-event.left .branch {
        left: calc(50% - 50px);
    }
    
    .timeline-event.right .branch {
        right: calc(50% - 50px);
    }
}
